In [2]:
import pandas as pd
import numpy as np

def count_rows(table):
    linhas = table[table.columns[0]].count()
    return linhas

path = 'E:\Backup - Felipe\Documentos\FortBrasil\Case Cientista JR\Questão 2 - Base 1.txt'
df1 = pd.read_csv(path, sep="\t" )
#Altera Tipo da Conluna
df1['DT_ACORDO'] = df1['DT_ACORDO'].apply(pd.to_datetime, format='%Y-%m-%d')
#df1.head()
#Verificando a descrição do dataset

print('Total de Linhas df1: %s' % count_rows(df1))
list(df1.columns)

Total de Linhas df1: 72533

['ID_CONTA',
 'DT_ACORDO',
 'NU_DIAS_ATRASO',
 'VALOR_CRELIQ',
 'DIVIDA_ATUAL',
 'RESPOSTA']

In [3]:
path = 'E:\Backup - Felipe\Documentos\FortBrasil\Case Cientista JR\Questão 2 - Base 2.txt'
df2 = pd.read_csv(path, sep="\t" )
print('Total de Linhas df2: %s' % count_rows(df2))
#Altera Tipo da Conluna
df2['DT_ACORDO'] = df2['DT_ACORDO'].apply(pd.to_datetime, format='%Y-%m-%d')
list(df2.columns)
df2.head()

Total de Linhas df2: 72533

,ID_CONTA,DT_ACORDO,QTD_PARCELAMENTO_3M,QTD_PARCELAMENTO_6M,QTD_PARCELAMENTO_12M
0,1194908,2018-11-22,0,0,0
1,1427566,2018-11-22,0,0,0
2,981592,2018-11-22,0,0,1
3,1329412,2018-11-22,0,0,0
4,1348857,2018-11-22,1,1,1

In [4]:
path = 'E:\Backup - Felipe\Documentos\FortBrasil\Case Cientista JR\Questão 2 - Base 3.txt'
df3 = pd.read_csv(path, sep="\t" )
print('Total de Linhas df3: %s' % count_rows(df3))
#Altera Tipo da Conluna
df3['DT_ACORDO'] = df3['DT_ACORDO'].apply(pd.to_datetime, format='%Y-%m-%d')
list(df3.columns)
df3.dtypes

Total de Linhas df3: 72533

ID_CONTA              int64
DT_ACORDO    datetime64[ns]
LIMITE              float64
dtype: object

In [5]:
path = 'E:\Backup - Felipe\Documentos\FortBrasil\Case Cientista JR\Questão 2 - Base 4.txt'
df4 = pd.read_csv(path, sep="\t" )
print('Total de Linhas df4: %s' % count_rows(df4))
list(df4.columns)
#Altera Tipo da Conluna
df4['DT_ACORDO'] = df4['DT_ACORDO'].apply(pd.to_datetime, format='%Y-%m-%d')
df4.head()

Total de Linhas df4: 72533

,ID_CONTA,DT_ACORDO,QTD_EXTRATOS,QTD_FX0_GERAL,QTD_FX1_GERAL,QTD_FX2_GERAL,QTD_FX0_3M,QTD_FX0_6M,QTD_FX1_3M,QTD_FX1_6M,QTD_FX2_3M,QTD_FX2_6M
0,1385626,2018-11-22,5,5,0,0,4,6,0,0,0,0
1,1405852,2018-11-22,3,2,1,0,3,3,1,1,0,0
2,1163186,2018-11-22,26,23,2,1,4,5,0,1,0,1
3,1194908,2018-11-22,17,16,1,0,4,7,0,0,0,0
4,1419680,2018-11-22,2,2,0,0,3,3,0,0,0,0

In [6]:
#df4['DT_ACORDO'] = df4['DT_ACORDO'].astype(object)
#df4.dtypes
#path = 'Case Cientista JR/Questão 2 - Base 2_2.txt'
#df4.to_csv(path, index=False, sep="\t" )

In [7]:
path = 'E:\Backup - Felipe\Documentos\FortBrasil\Case Cientista JR\Questão 2 - Base 5.txt'
df5 = pd.read_csv(path, sep="\t" )
print('Total de Linhas df5: %s' % count_rows(df5))
#Altera Tipo da Conluna
df5['DT_ACORDO'] = df5['DT_ACORDO'].apply(pd.to_datetime, format='%Y-%m-%d')
list(df5.columns)

Total de Linhas df5: 70463

['ID_CONTA',
 'DT_ACORDO',
 'QTD_CPC_10D',
 'QTD_CPC_1M',
 'QTD_CPC_3M',
 'QTD_CPC_6M',
 'QTD_CP_10D',
 'QTD_CP_1M',
 'QTD_CP_3M',
 'QTD_CP_6M',
 'QTD_ACIONAMENTO_10D',
 'QTD_ACIONAMENTO_1M',
 'QTD_ACIONAMENTO_3M',
 'QTD_ACIONAMENTO_6M']

In [8]:
from functools import reduce
data_frames = [df1, df2, df3, df4, df5]

df_merged = reduce(lambda  left,right: pd.merge(left,right, how='left' , left_on=['ID_CONTA', 'DT_ACORDO'], right_on=['ID_CONTA', 'DT_ACORDO']), data_frames)

path = 'Case Cientista JR/Questão 2(consolidada).csv'
df_merged.to_csv(path, index=False, sep=';' ,encoding='Windows-1252', decimal=',') #sep=';' ,encoding='Windows-1252'

print('Total de Linhas df_merged: %s' % count_rows(df_merged))
list(df_merged.columns)

Total de Linhas df_merged: 72563

['ID_CONTA',
 'DT_ACORDO',
 'NU_DIAS_ATRASO',
 'VALOR_CRELIQ',
 'DIVIDA_ATUAL',
 'RESPOSTA',
 'QTD_PARCELAMENTO_3M',
 'QTD_PARCELAMENTO_6M',
 'QTD_PARCELAMENTO_12M',
 'LIMITE',
 'QTD_EXTRATOS',
 'QTD_FX0_GERAL',
 'QTD_FX1_GERAL',
 'QTD_FX2_GERAL',
 'QTD_FX0_3M',
 'QTD_FX0_6M',
 'QTD_FX1_3M',
 'QTD_FX1_6M',
 'QTD_FX2_3M',
 'QTD_FX2_6M',
 'QTD_CPC_10D',
 'QTD_CPC_1M',
 'QTD_CPC_3M',
 'QTD_CPC_6M',
 'QTD_CP_10D',
 'QTD_CP_1M',
 'QTD_CP_3M',
 'QTD_CP_6M',
 'QTD_ACIONAMENTO_10D',
 'QTD_ACIONAMENTO_1M',
 'QTD_ACIONAMENTO_3M',
 'QTD_ACIONAMENTO_6M']

In [9]:
df_merged = df_merged.drop_duplicates(subset = ['ID_CONTA', 'DT_ACORDO'], keep = 'last').reset_index(drop = True)
print('Total de Linhas df_merged: %s' % count_rows(df_merged))

Total de Linhas df_merged: 72532

In [10]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72532 entries, 0 to 72531
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_CONTA              72532 non-null  int64
 1   DT_ACORDO             72532 non-null  datetime64[ns]
 2   NU_DIAS_ATRASO        72532 non-null  int64
 3   VALOR_CRELIQ          72532 non-null  float64
 4   DIVIDA_ATUAL          72532 non-null  float64
 5   RESPOSTA              72532 non-null  int64
 6   QTD_PARCELAMENTO_3M   72532 non-null  int64
 7   QTD_PARCELAMENTO_6M   72532 non-null  int64
 8   QTD_PARCELAMENTO_12M  72532 non-null  int64
 9   LIMITE                72532 non-null  float64
 10  QTD_EXTRATOS          72532 non-null  int64
 11  QTD_FX0_GERAL         72532 non-null  int64
 12  QTD_FX1_GERAL         72532 non-null  int64
 13  QTD_FX2_GERAL         72532 non-null  int64
 14  QTD_FX0_3M            72532 non-null  int64
 15  QTD_FX0_6M            72532 non-null  int64
 16  QTD_FX1_3M            72532 non-null  int64
 17  QTD_FX1_6M            72532 non-null  int64
 18  QTD_FX2_3M            72532 non-null  int64
 19  QTD_FX2_6M            72532 non-null  int64
 20  QTD_CPC_10D           70462 non-null  float64
 21  QTD_CPC_1M            70462 non-null  float64
 22  QTD_CPC_3M            70462 non-null  float64
 23  QTD_CPC_6M            70462 non-null  float64
 24  QTD_CP_10D            70462 non-null  float64
 25  QTD_CP_1M             70462 non-null  float64
 26  QTD_CP_3M             70462 non-null  float64
 27  QTD_CP_6M             70462 non-null  float64
 28  QTD_ACIONAMENTO_10D   70462 non-null  float64
 29  QTD_ACIONAMENTO_1M    70462 non-null  float64
 30  QTD_ACIONAMENTO_3M    70462 non-null  float64
 31  QTD_ACIONAMENTO_6M    70462 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(16)
memory usage: 17.7 MB

In [11]:
df_merged.isnull().sum()

ID_CONTA                   0
DT_ACORDO                  0
NU_DIAS_ATRASO             0
VALOR_CRELIQ               0
DIVIDA_ATUAL               0
RESPOSTA                   0
QTD_PARCELAMENTO_3M        0
QTD_PARCELAMENTO_6M        0
QTD_PARCELAMENTO_12M       0
LIMITE                     0
QTD_EXTRATOS               0
QTD_FX0_GERAL              0
QTD_FX1_GERAL              0
QTD_FX2_GERAL              0
QTD_FX0_3M                 0
QTD_FX0_6M                 0
QTD_FX1_3M                 0
QTD_FX1_6M                 0
QTD_FX2_3M                 0
QTD_FX2_6M                 0
QTD_CPC_10D             2070
QTD_CPC_1M              2070
QTD_CPC_3M              2070
QTD_CPC_6M              2070
QTD_CP_10D              2070
QTD_CP_1M               2070
QTD_CP_3M               2070
QTD_CP_6M               2070
QTD_ACIONAMENTO_10D     2070
QTD_ACIONAMENTO_1M      2070
QTD_ACIONAMENTO_3M      2070
QTD_ACIONAMENTO_6M      2070
dtype: int64

In [12]:
df_merged.isna().mean()

ID_CONTA                0.000000
DT_ACORDO               0.000000
NU_DIAS_ATRASO          0.000000
VALOR_CRELIQ            0.000000
DIVIDA_ATUAL            0.000000
RESPOSTA                0.000000
QTD_PARCELAMENTO_3M     0.000000
QTD_PARCELAMENTO_6M     0.000000
QTD_PARCELAMENTO_12M    0.000000
LIMITE                  0.000000
QTD_EXTRATOS            0.000000
QTD_FX0_GERAL           0.000000
QTD_FX1_GERAL           0.000000
QTD_FX2_GERAL           0.000000
QTD_FX0_3M              0.000000
QTD_FX0_6M              0.000000
QTD_FX1_3M              0.000000
QTD_FX1_6M              0.000000
QTD_FX2_3M              0.000000
QTD_FX2_6M              0.000000
QTD_CPC_10D             0.028539
QTD_CPC_1M              0.028539
QTD_CPC_3M              0.028539
QTD_CPC_6M              0.028539
QTD_CP_10D              0.028539
QTD_CP_1M               0.028539
QTD_CP_3M               0.028539
QTD_CP_6M               0.028539
QTD_ACIONAMENTO_10D     0.028539
QTD_ACIONAMENTO_1M      0.028539
QTD_ACIONAMENTO_3M      0.028539
QTD_ACIONAMENTO_6M      0.028539
dtype: float64

In [13]:
# descartar colunas nas quais mais de 10% dos valores estão ausentes
#df_merged.dropna(thresh=len(df_merged)*0.9, axis=1)

#substituir os valores de NaN na coluna (X) pela média
#df_merged['Age'].fillna(value=df_merged['Age'].mean(), inplace=True)

2.1 – Qual o percentual de adesão mensal por faixa de atraso (Histórico)?

In [14]:
#criar um recurso categórico (FAIXA DE ATRASO) C/ base no quartil 
import sys

df_merged['NU_DIAS_ATRASO_GROUP']=pd.cut(

   df_merged['NU_DIAS_ATRASO'],

   bins=[180, 244, 310, 399, 539, sys.maxsize],

   labels=['>6M', '>8M', '>10M', '>13M', '>18M']

)

df_merged['NU_DIAS_ATRASO_GROUP'].head()

0    >6M
1    >6M
2    >8M
3    >6M
4    >8M
Name: NU_DIAS_ATRASO_GROUP, dtype: category
Categories (5, object): ['>6M' < '>8M' < '>10M' < '>13M' < '>18M']

In [15]:
path = 'Case Cientista JR/Questão 2(consolidada).csv'
df_merged.to_csv(path, index=False, sep=';' ,encoding='Windows-1252', decimal=',')

In [16]:
#Cria Coluna Ano_Mês
df_merged['ANO_MES'] = df_merged['DT_ACORDO'].dt.strftime('%Y-%m')
#Cria Coluna Mês
df_merged['MES'] = df_merged['DT_ACORDO'].dt.strftime('%m')

In [17]:
#Cria um agrupamento de dados 
df_2_1 = df_merged.groupby(['ANO_MES','NU_DIAS_ATRASO_GROUP']).agg(
    FAIXA_ATRASO = ('NU_DIAS_ATRASO_GROUP','count')
    ).reset_index()

In [18]:
df_2_1['%_FAIXA_ATRASO']= df_2_1['FAIXA_ATRASO']/df_2_1['FAIXA_ATRASO'].sum()
df_2_1.head(20)

    ANO_MES NU_DIAS_ATRASO_GROUP  FAIXA_ATRASO  %_FAIXA_ATRASO
0   2018-11                  >6M          6922        0.095434
1   2018-11                  >8M          6795        0.093683
2   2018-11                 >10M          4281        0.059022
3   2018-11                 >13M             0        0.000000
4   2018-11                 >18M             0        0.000000
5   2019-03                  >6M          2995        0.041292
6   2019-03                  >8M          3586        0.049440
7   2019-03                 >10M          6530        0.090029
8   2019-03                 >13M          9527        0.131349
9   2019-03                 >18M             0        0.000000
10  2019-04                  >6M           264        0.003640
11  2019-04                  >8M           190        0.002620
12  2019-04                 >10M           214        0.002950
13  2019-04                 >13M           143        0.001972
14  2019-04                 >18M             0        0.000000
15  2019-06                  >6M          7916        0.109138
16  2019-06                  >8M          7330        0.101059
17  2019-06                 >10M          7314        0.100838
18  2019-06                 >13M          8138        0.112199
19  2019-06                 >18M           387        0.005336

2.2 – Qual modelo você utilizaria para traçar uma estratégia objetivando o aumento da adesão dos acordos? (Descreva a técnica utilizada)

Utiliazaria o Modelo: Random Forest

-Random Forest
    - Algoritmo de Machine Learning Supervisionado utilizado para Classificação ou regressão
    - Combinação da simplicidade das árvores de decisão com a flexibilidade e aleatoriedade para melhorar a precisão
    - Dezenas de árvores combinadas para predizer o melhor resultado.
    - Aleatoriedade na seleção de atributos ao invés da seleção a partir do cálculo de impureza.


- criação do bootstrap dataset (A partir do conjunto original .. Selecione um número N de features aleatoriamente)
- A partir do subconjunto selecionado é feita a verificação do atributo que melhor separa os dados..
- Agora é preciso separar mais 2 atributos a partir dos três resultantes para separar os dados e construir a árvore.
- As árvores são construídas considerando apenas os subconjuntos de atributos selecionados.

- Passos
    1.	Criação do Bootstraped Dataset
    2.	A cada passo é selecionado um número N de features para montar a arvore.
    3.	Diversas árvores são criadas a partir de subconjuntos diferentes.
    4.	A instância de teste deve percorrer cada árvore da floresta e a classe definida será a mais votada.

-	vantagens
    -	Maior robustez
    -	Menos propenso a sofrer Overfitting em comparação com uma única Árvore de Decisão
    -	Permite a descoberta de conhecimento.
    -	Poucos parametros para ajustes.

-	Desvantagens
    -	Exige um maior poder de processamento.
    -	Pode ser lento o processo de classificação de novas amostras.

2.3 – Quais indicadores e ferramentas você utilizaria para avaliar a performance/aderência desse modelo? (Descreva os indicadores utilizados)

a ferramenta sera a própria do biblioteca Scikit Learn (sklearn.metrics)

Atraves das métricas: precision | recall | f1-score | support |
                      accuracy | macro avg | weighted avg

Através da Acurácia (Accuracy/Taxa de Acerto) para assim medir o nível de exatidão dos resultados obtidos. 
Esta é a métrica mais simples. É basicamente o número de acertos (positivos) divido pelo número total de exemplos. Ela deve ser usada em datasets com a mesma proporção de exemplos para cada classe, e quando as penalidades de acerto e erro para cada classe forem as mesmas.
Em problemas com classes desproporcionais, ela causa uma falsa impressão de bom desempenho. Por exemplo, num dataset em que 80% dos exemplos pertençam a uma classe, só de classificar todos os exemplos naquela classe já se atinge uma precisão de 80%, mesmo que todos os exemplos da outra classe estejam classificados incorretamente.


E com F1 Score é uma média harmônica entre precisão (que, apesar de ter o mesmo nome, não é a mesma citada acima) e recall. Veja abaixo as definições destes dois termos.
Ela é muito boa quando você possui um dataset com classes desproporcionais, e o seu modelo não emite probabilidades. Isso não significa que não possa ser usada com modelos que emitem probabilidades, tudo depende do objetivo de sua tarefa de machine learning.Em geral, quanto maior o F1 score, melhor.

Precisão (Precision)
Número de exemplos classificados como pertencentes a uma classe, que realmente são daquela classe (positivos verdadeiros), dividido pela soma entre este número, e o número de exemplos classificados nesta classe, mas que pertencem a outras (falsos positivos).